<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <title>Rhythm Doctor Custom Levels</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./bundle.css">
</head>
<body>
  <div id="app" class="antialiased text-gray-900 bg-gray-600 font-sans">
    <!-- This div appears while loading.-->
    <div v-if="state=='LOADING'" id="loading_state">
      <p>Loading..</p>
    </div>

    <!-- This div appears when loaded. -->
    <div v-if="state=='LOADED'" id="loaded_state">

      <header class='bg-gray-800'>
        <!-- top part -->
        <div class='flex justify-between items-center px-3 py-2'>
          <!-- search bar -->
          <div class='flex-grow'>
            <input class='w-full rounded text-lg text-semibold py-1 px-2' type='search'>
          </div>
          <!-- hamburger icon -->
          <div class='ml-20 flex items-center'>
            <button v-on:click="trayOpen = !trayOpen" class="text-gray-400 hover:text-white">
              <svg class="h-8 w-8 fill-current" aria-hidden="true" data-prefix="fas" data-icon="bars" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path v-if="!trayOpen" fill="currentColor" d="M16 132h416a16 16 0 0 0 16-16V76a16 16 0 0 0-16-16H16A16 16 0 0 0 0 76v40a16 16 0 0 0 16 16zm0 160h416a16 16 0 0 0 16-16v-40a16 16 0 0 0-16-16H16a16 16 0 0 0-16 16v40a16 16 0 0 0 16 16zm0 160h416a16 16 0 0 0 16-16v-40a16 16 0 0 0-16-16H16a16 16 0 0 0-16 16v40a16 16 0 0 0 16 16z"/>
                <path v-if="trayOpen" fill="currentColor" d="M242.72 256l100.07-100.07a31.46 31.46 0 0 0 0-44.48l-22.24-22.24a31.46 31.46 0 0 0-44.48 0L176 189.28 75.93 89.21a31.46 31.46 0 0 0-44.48 0L9.21 111.45a31.46 31.46 0 0 0 0 44.48L109.28 256 9.21 356.07a31.46 31.46 0 0 0 0 44.48l22.24 22.24a31.46 31.46 0 0 0 44.48 0L176 322.72l100.07 100.07a31.46 31.46 0 0 0 44.48 0l22.24-22.24a31.46 31.46 0 0 0 0-44.48L242.72 256z"/>
              </svg>
            </button>
          </div>
        </div>
        <!-- menu / sidebar-->
        <div v-show='trayOpen' class='px-3 pt-2 pb-4'>
          <!-- pagination -->
          <ul class='flex items-center justify-center text-gray-400 font-semibold py-2'>
            <li class='inline-block flex items-center'><a class='px-2 hover:cursor-pointer hover:text-white' v-on:click="switchPage(currentPage-1)">
                <svg class='h-4 w-4 fill-current' aria-hidden="true" data-prefix="fas" data-icon="chevron-left" class="svg-inline--fa fa-chevron-left fa-w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                  <path fill="currentColor" d="M34.52 239.03L228.87 44.69a24 24 0 0 1 33.94 0l22.67 22.67a24 24 0 0 1 .04 33.9L131.49 256l154.02 154.75a24 24 0 0 1-.04 33.9l-22.67 22.67a24 24 0 0 1-33.94 0L34.52 272.97a24 24 0 0 1 0-33.94z"/>
                </svg>
            </a></li>
            <li class='inline-block flex items-center'><a class='px-2 hover:cursor-default' href="#">
              {{currentPage}} of {{numberOfPages}}
            </a></li>
            <li class='inline-block flex items-center'><a class='px-2 hover:cursor-pointer hover:text-white' v-on:click="switchPage(currentPage+1)">
                <svg class='h-4 w-4 fill-current' aria-hidden="true" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                  <path fill="currentColor" d="M285.48 272.97L91.13 467.31a24 24 0 0 1-33.94 0l-22.67-22.66a24 24 0 0 1-.04-33.9L188.5 256 34.48 101.25a24 24 0 0 1 .04-33.9L57.2 44.7a24 24 0 0 1 33.94 0l194.35 194.34a24 24 0 0 1 0 33.94z"/>
                </svg>
            </a></li>
          </ul>
          <!-- limit -->
          <div class='mt-3 flex items-center text-gray-400 font-semibold'>
            <svg class="w-5 h-5 fill-current" aria-hidden="true" data-prefix="fas" data-icon="pager" class="svg-inline--fa fa-pager fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="currentColor" d="M448 64H64a64 64 0 0 0-64 64v256a64 64 0 0 0 64 64h384a64 64 0 0 0 64-64V128a64 64 0 0 0-64-64zM160 368H80a16 16 0 0 1-16-16v-16a16 16 0 0 1 16-16h80zm128-16a16 16 0 0 1-16 16h-80v-48h80a16 16 0 0 1 16 16zm160-128a32 32 0 0 1-32 32H96a32 32 0 0 1-32-32v-64a32 32 0 0 1 32-32h320a32 32 0 0 1 32 32z"/>
            </svg>
            <span class="ml-3">Show</span>
            <div class="relative flex items-center">
              <select class="appearance-none bg-gray-400 rounded-lg font-semibold ml-1 pr-5 text-gray-800" v-model.number="limit">
                <option v-for="option in limit_options" v-bind:value="option.value">
                  {{option.text}}
                </option>
              </select>
              <svg class="w-4 h-4 pointer-events-none fill-current text-gray-800 absolute right-0 mr-1" aria-hidden="true" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M207.03 381.48L12.69 187.13a24 24 0 0 1 0-33.94l22.66-22.67a24 24 0 0 1 33.9-.04L224 284.51l154.75-154.03a24 24 0 0 1 33.9.04l22.66 22.67a24 24 0 0 1 0 33.94L240.97 381.48a24 24 0 0 1-33.94 0z"/>
              </svg>
            </div>
            <span class="ml-1"> levels per page </span>
          </div>
          <!-- sort by -->
          <div class='mt-3 flex items-center text-gray-400 font-semibold'>
            <svg class="w-5 h-5 fill-current" aria-hidden="true" data-prefix="fas" data-icon="sort-size-up" class="svg-inline--fa fa-sort-size-up fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path v-if="sort_direction == 'ascending'"  fill="currentColor" d="M107.31 36.69a16 16 0 0 0-22.62 0l-80 96C-5.35 142.74 1.77 160 16 160h48v304a16 16 0 0 0 16 16h32a16 16 0 0 0 16-16V160h48c14.21 0 21.38-17.24 11.31-27.31zM484 32H284a28 28 0 0 0-28 28v168a28 28 0 0 0 28 28h200a28 28 0 0 0 28-28V60a28 28 0 0 0-28-28zm-56 288H276a20 20 0 0 0-20 20v120a20 20 0 0 0 20 20h152a20 20 0 0 0 20-20V340a20 20 0 0 0-20-20z"/>
              <path v-if="sort_direction == 'descending'" fill="currentColor" d="M428 320H276a20 20 0 0 0-20 20v120a20 20 0 0 0 20 20h152a20 20 0 0 0 20-20V340a20 20 0 0 0-20-20zm-252 32h-48V48a16 16 0 0 0-16-16H80a16 16 0 0 0-16 16v304H16c-14.19 0-21.37 17.24-11.29 27.31l80 96a16 16 0 0 0 22.62 0l80-96C197.35 369.26 190.22 352 176 352zM484 32H284a28 28 0 0 0-28 28v168a28 28 0 0 0 28 28h200a28 28 0 0 0 28-28V60a28 28 0 0 0-28-28z"/>
            </svg>

            <span class='ml-3'>Sort by </span>
            <div class="relative flex items-center">
              <select class='appearance-none bg-gray-400 rounded-lg font-semibold ml-1 pr-5 text-gray-800' v-model="sort_by">
                <option value="score" hidden>relevance</option>
                <option value="last_updated">publish date</option>
                <option value="song">title</option>
                <option value="difficulty">difficulty</option>
                <option value="author">creator</option>
              </select>
              <svg class="w-4 h-4 pointer-events-none fill-current text-gray-800 absolute right-0 mr-1" aria-hidden="true" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M207.03 381.48L12.69 187.13a24 24 0 0 1 0-33.94l22.66-22.67a24 24 0 0 1 33.9-.04L224 284.51l154.75-154.03a24 24 0 0 1 33.9.04l22.66 22.67a24 24 0 0 1 0 33.94L240.97 381.48a24 24 0 0 1-33.94 0z"/>
              </svg>
            </div>
            <span class='ml-1'>,
              <a v-on:click='switchDirection' class='text-purple-300 font-bold hover:text-white hover:cursor-pointer'>
                {{order_texts[sort_by][sort_direction]}}
              </a>
            </span>
          </div>
          <!-- display type -->
          <div class='mt-2 flex items-center text-gray-400 font-semibold'>
            <svg class="w-5 h-5 fill-current" aria-hidden="true" data-prefix="fas" data-icon="grip-horizontal" class="svg-inline--fa fa-grip-horizontal fa-w-14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path v-if="display_type == 'cards'" fill="currentColor" d="M96 288H32a32 32 0 0 0-32 32v64a32 32 0 0 0 32 32h64a32 32 0 0 0 32-32v-64a32 32 0 0 0-32-32zm160 0h-64a32 32 0 0 0-32 32v64a32 32 0 0 0 32 32h64a32 32 0 0 0 32-32v-64a32 32 0 0 0-32-32zm160 0h-64a32 32 0 0 0-32 32v64a32 32 0 0 0 32 32h64a32 32 0 0 0 32-32v-64a32 32 0 0 0-32-32zM96 96H32a32 32 0 0 0-32 32v64a32 32 0 0 0 32 32h64a32 32 0 0 0 32-32v-64a32 32 0 0 0-32-32zm160 0h-64a32 32 0 0 0-32 32v64a32 32 0 0 0 32 32h64a32 32 0 0 0 32-32v-64a32 32 0 0 0-32-32zm160 0h-64a32 32 0 0 0-32 32v64a32 32 0 0 0 32 32h64a32 32 0 0 0 32-32v-64a32 32 0 0 0-32-32z"/>
              <path v-if="display_type == 'list'" fill="currentColor" d="M464 480H48a48 48 0 0 1-48-48V80a48 48 0 0 1 48-48h416a48 48 0 0 1 48 48v352a48 48 0 0 1-48 48zM128 120a40 40 0 1 0 0 80 40 40 0 0 0 0-80zm0 96a40 40 0 1 0 0 80 40 40 0 0 0 0-80zm0 96a40 40 0 1 0 0 80 40 40 0 0 0 0-80zm288-136v-32a12 12 0 0 0-12-12H204a12 12 0 0 0-12 12v32a12 12 0 0 0 12 12h200a12 12 0 0 0 12-12zm0 96v-32a12 12 0 0 0-12-12H204a12 12 0 0 0-12 12v32a12 12 0 0 0 12 12h200a12 12 0 0 0 12-12zm0 96v-32a12 12 0 0 0-12-12H204a12 12 0 0 0-12 12v32a12 12 0 0 0 12 12h200a12 12 0 0 0 12-12z"/>
            </svg>
            <span class="ml-3">Display as <a v-on:click='switchType' class='hover:cursor-pointer font-bold text-purple-300 hover:text-white'>{{display_type}}</a></span>
          </div>
        </div>
      </header>

      <!-- CARDS DISPLAY -->
      <div v-show="display_type == 'cards'" id="levels-cards" 
      class="w-full justify-center mx-auto flex flex-row flex-wrap items-stretch md:px-8 lg:px-16">
        <!-- each card starts here -->
        <article 
        v-for="(level,index) in truncated"
        v-bind:key="level"
        class="flex-1 flex flex-col 
             min-w-72 max-w-sm m-2
             bg-gray-200 
             rounded-lg shadow-md hover:shadow-xl transition-shadow
             group">

          <!-- image -->
          <div class="relative pb-9/16 bg-gray-700 rounded-t-lg overflow-hidden">
            
            <img class="group-hover:defocus transition-filter shadow-inner absolute h-full w-full object-cover" :src="level.preview_img">
            
            <!-- overlay -->
            <div 
            class="opacity-0 group-hover:opacity-100 transition-opacity
                 absolute flex h-full w-full p-4 rounted-t-lg">
              <!-- description -->
              <div class="flex-initial w-full text-white text-sm overflow-y-auto break-words"
              v-html="convertToHtml(level.description)">
              </div>
              <!-- download + copy link buttons -->
              <div class="flex-none w-8 ml-2 flex flex-col">
                <a :data-clipboard-text="level.download_url" class="copy-link text-white border border-white rounded-lg hover:bg-gray-600 hover:cursor-pointer">
                  <svg class="h-full w-full p-2 fill-current" aria-hidden="true" data-prefix="fas" data-icon="copy" class="svg-inline--fa fa-copy fa-w-14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor" d="M320 448v40a24 24 0 0 1-24 24H24a24 24 0 0 1-24-24V120a24 24 0 0 1 24-24h72v296c0 30.88 25.12 56 56 56h168zm0-344V0H152a24 24 0 0 0-24 24v368a24 24 0 0 0 24 24h272a24 24 0 0 0 24-24V128H344c-13.2 0-24-10.8-24-24zm120.97-31.03L375.03 7.03A24 24 0 0 0 358.06 0H352v96h96v-6.06a24 24 0 0 0-7.03-16.97z"/>
                  </svg>
                </a>
                <a :href="level.download_url" class="mt-4 text-white border border-white rounded-lg hover:bg-gray-600">
                  <svg class="h-full w-full p-2 fill-current" aria-hidden="true" data-prefix="fas" data-icon="download" class="svg-inline--fa fa-download fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor" d="M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24zm296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49a51.24 51.24 0 0 0 72.6 0l49-49H488c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"/>
                  </svg>
                </a>
              </div>
            </div>
            
          </div>

          <!-- div for everything below the image -->
          <div class="p-4 h-full flex flex-col justify-between">
            <!-- aligned up -->
            <div>
              <!-- artist + song -->
              <h2 class="text-gray-700 text-xs leading-cramped break-words">{{level.artist}}</h2>
              <h1 class="font-semibold text-lg leading-tight break-words">{{level.song}}</h1>
              
              <!-- icons + metadata -->
              <div class="flex flex-wrap gap gap-x-3 mt-1">
                <div class="flex items-center text-gray-700 text-xs max-w-full">
                    <svg class="h-3 w-3 fill-current" aria-hidden="true" data-prefix="fas" data-icon="pencil-alt" class="svg-inline--fa fa-pencil-alt fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path fill="currentColor" d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1a47.92 47.92 0 0 1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"/>
                    </svg>
                  <p class="ml-1 break-all">{{level.author}}
                  </p>
                </div>
                <div class="flex items-center text-gray-700 text-xs">
                  <svg class="h-3 w-3 fill-current" aria-hidden="true" data-prefix="fas" data-icon="syringe" class="svg-inline--fa fa-syringe fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor" d="M201.5 174.8l55.7 55.8c3.1 3.1 3.1 8.2 0 11.3l-11.3 11.3a8.03 8.03 0 0 1-11.3 0l-55.7-55.8-45.3 45.3 55.8 55.8c3.1 3.1 3.1 8.2 0 11.3l-11.3 11.3a8.03 8.03 0 0 1-11.3 0L111 265.2l-26.4 26.4a79.9 79.9 0 0 0-23 65.4l7.1 63.6L2.3 487a8.03 8.03 0 0 0 0 11.3l11.3 11.3c3.1 3.1 8.2 3.1 11.3 0l66.3-66.3 63.6 7.1c23.9 2.6 47.9-5.4 65.4-23l181.9-181.9-135.7-135.7-64.9 65zm308.2-93.3L430.5 2.3a8.03 8.03 0 0 0-11.3 0l-11.3 11.3a8.03 8.03 0 0 0 0 11.3l28.3 28.3-45.3 45.3-56.6-56.6-17-17a8.03 8.03 0 0 0-11.3 0l-33.9 33.9a8.03 8.03 0 0 0 0 11.3l17 17L424.8 223l17 17c3.1 3.1 8.2 3.1 11.3 0l33.9-34c3.1-3.1 3.1-8.2 0-11.3l-73.5-73.5 45.3-45.3 28.3 28.3c3.1 3.1 8.2 3.1 11.3 0l11.3-11.3c3.1-3.2 3.1-8.2 0-11.4z"/>
                  </svg>
                  <p class="ml-1">{{level.difficulty}}
                  </p>
                </div>
                <div class="flex items-center text-gray-700 text-xs">
                  <svg class="h-3 w-3 fill-current" aria-hidden="true" data-prefix="fas" data-icon="heartbeat" class="svg-inline--fa fa-heartbeat fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M320.2 243.8l-49.7 99.4c-6 12.1-23.4 11.7-28.9-.6l-56.9-126.3-30 71.7H60.6l182.5 186.5c7.1 7.3 18.6 7.3 25.7 0L451.4 288H342.3l-22.1-44.2zM473.7 73.9l-2.4-2.5c-51.5-52.6-135.8-52.6-187.4 0L256 100l-27.9-28.5a130.83 130.83 0 0 0-187.4 0l-2.4 2.4C-10.4 123.7-12.5 203 31 256h102.4l35.9-86.2c5.4-12.9 23.6-13.2 29.4-.4l58.2 129.3 49-97.9c5.9-11.8 22.7-11.8 28.6 0l27.6 55.2H481c43.5-53 41.4-132.3-7.3-182.1z"/>
                  </svg>
                  <p class="ml-1">{{getBPMText(level.min_bpm, level.max_bpm)}} BPM
                  </p>
                </div>
              </div>
            </div>
             

            
            <div class="flex flex-wrap items-end mt-2 relative h-auto gap gap-2">
              <!-- epilepsy warning / starred -->
              <div v-show="level.seizure_warning" class="flex items-center bg-orange-200 rounded-full px-3 text-xs font-semibold">
                <svg class="h-3 w-3 fill-current text-orange-400" aria-hidden="true" data-prefix="fas" data-icon="exclamation-triangle" class="svg-inline--fa fa-exclamation-triangle fa-w-18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                  <path fill="currentColor" d="M569.52 440.01c18.46 32-4.71 71.99-41.58 71.99H48.05c-36.93 0-60-40.05-41.57-71.99L246.42 24c18.47-32.01 64.72-31.96 83.16 0L569.52 440zM288 354a46 46 0 1 0 0 92 46 46 0 0 0 0-92zm-43.67-165.35l7.41 136A12 12 0 0 0 263.74 336h48.54a12 12 0 0 0 11.98-11.35l7.42-136A12 12 0 0 0 319.7 176h-63.38a12 12 0 0 0-11.98 12.65z"/>
                </svg>
                <span class="inline-block ml-1 text-orange-500">
                  Seizure warning
                </span>
              </div>
              <div v-show="level.starred" class="flex items-baseline bg-teal-200 rounded-full px-3 text-xs font-semibold">
                  <svg class="h-3 w-3 fill-current text-teal-400" aria-hidden="true" data-prefix="fas" data-icon="stars" class="svg-inline--fa fa-stars fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor" d="M336 160l26.7-53.3L416 80l-53.3-26.7L336 0l-26.7 53.3L256 80l53.3 26.7L336 160zm144 32l-16-32-16 32-32 16 32 16 16 32 16-32 32-16-32-16zm-115.7 75.3L259.5 252l-46.9-95.2c-8.4-17-32.7-17.2-41.2 0L124.5 252 19.7 267.3C.9 270-6.7 293.2 7 306.5l75.9 74-18 104.6c-3.2 18.9 16.7 33.1 33.3 24.2l93.8-49.4 93.8 49.4c16.7 8.8 36.5-5.3 33.3-24.2l-17.9-104.6 75.9-74c13.6-13.3 6-36.5-12.8-39.2z"/>
                  </svg>
                  <span class="inline-block ml-1 text-teal-500">
                    Starred
                  </span>
                </div>
              <!-- tags -->
              <span 
              v-for="tag in level.tags" 
              class="inline-block max-w-full truncate bg-gray-300 rounded-full px-3 text-xs font-semibold text-gray-600"
              >
              {{tag}}
              </span>
            </div>
            
          </div>
        </div>
      </article> <!-- end card display -->

      <div v-show="display_type == 'list'" id="levels-list">
        <p>Hi i'm the list display i guess</p>
      </div>
    </div>

    <!-- This div appears in an error. -->
    <div v-if="state=='ERROR'" id="error_state">
      <p>Error when loading the Rhythm Doctor API! ping ladybug now!!</p>
      <p>{{error}}</p>
    </div>
  </div>

  <script src="bundle.js"></script>
</body>

</html>
