<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <title>Rhythm Doctor Custom Levels</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./bundle.css">
</head>
<body>
  <div id="app" class="min-h-screen antialiased text-gray-900 bg-gray-600 font-sans">
    <!-- This div appears while loading.-->
    <div v-if="state=='LOADING'" id="loading_state">
      <p>Loading...</p>
    </div>

    <!-- This div appears when loaded. -->
    <div v-if="state=='LOADED'" id="loaded_state">

      <header class='fixed top-0 w-full z-10'>
        <!-- top part -->
        <div class='flex justify-between items-center bg-gray-800 px-3 py-2'>
          <!-- display/hide boosters icon -->
          <div class='flex items-center'>
            <button v-on:click="boostersOpen = !boostersOpen" class="text-gray-400 hover:text-white">
              <svg class="w-8 h-6 fill-current" aria-hidden="true" data-prefix="fas" data-icon="bars" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path v-if="!boostersOpen" fill="currentColor" d="M496 104a24 24 0 00-24-24H40a24 24 0 00-24 24v24h480zm-16-80a24 24 0 00-24-24H56a24 24 0 00-24 24v24h448zM256 325.65c-16.63 0-30 9.93-29.86 22.09s13.5 21.72 29.86 21.72 29.73-9.68 29.87-21.72-13.23-22.09-29.87-22.09zM480 160H32A32 32 0 00.13 194.9l26.19 288A32 32 0 0058.18 512h395.64a32 32 0 0031.86-29.1l26.19-288A32 32 0 00480 160zM256 472.89c-94.26 0-174.39-54.53-179.21-125.15C71.71 273.1 151.82 209.4 256 209.4s184.29 63.7 179.21 138.34c-4.82 70.63-84.95 125.15-179.21 125.15z"/>
                <path v-if="boostersOpen" fill="currentColor" d="M242.72 256l100.07-100.07a31.46 31.46 0 0 0 0-44.48l-22.24-22.24a31.46 31.46 0 0 0-44.48 0L176 189.28 75.93 89.21a31.46 31.46 0 0 0-44.48 0L9.21 111.45a31.46 31.46 0 0 0 0 44.48L109.28 256 9.21 356.07a31.46 31.46 0 0 0 0 44.48l22.24 22.24a31.46 31.46 0 0 0 44.48 0L176 322.72l100.07 100.07a31.46 31.46 0 0 0 44.48 0l22.24-22.24a31.46 31.46 0 0 0 0-44.48L242.72 256z"/>
              </svg>
            </button>
          </div>
          <!-- search bar -->
          <div class='ml-2 flex-grow'>
            <input v-model='searchQuery'
            class='bg-gray-400 w-full rounded text-lg text-semibold py-1 px-2' type='search'>
          </div>
          <!-- pagination shows up at the top on ipadish sizes -->
          <pagination class="hidden sm:flex ml-4"
          v-bind:current-page='currentPage' 
          v-bind:number-of-pages='numberOfPages'
          v-on:page-change='switchPage'></pagination>
          <!-- settings icon -->
          <div class='ml-12 sm:ml-4 flex items-center'>
            <button v-on:click="trayOpen = !trayOpen" class="text-gray-400 hover:text-white">
              <svg class="w-8 h-6 fill-current" aria-hidden="true" data-prefix="fas" data-icon="bars" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path v-if="!trayOpen" fill="currentColor" d="M507.73 109.1c-2.24-9.03-13.54-12.09-20.12-5.51l-74.36 74.36-67.88-11.31-11.31-67.88 74.36-74.36c6.62-6.62 3.43-17.9-5.66-20.16-47.38-11.74-99.55.91-136.58 37.93-39.64 39.64-50.55 97.1-34.05 147.2L18.74 402.76a64 64 0 0090.5 90.5l213.21-213.21c50.12 16.71 107.47 5.68 147.37-34.22 37.07-37.07 49.7-89.32 37.91-136.73zM64 472a24 24 0 11.01-48.01A24 24 0 0164 472z"/>
                <path v-if="trayOpen" fill="currentColor" d="M242.72 256l100.07-100.07a31.46 31.46 0 0 0 0-44.48l-22.24-22.24a31.46 31.46 0 0 0-44.48 0L176 189.28 75.93 89.21a31.46 31.46 0 0 0-44.48 0L9.21 111.45a31.46 31.46 0 0 0 0 44.48L109.28 256 9.21 356.07a31.46 31.46 0 0 0 0 44.48l22.24 22.24a31.46 31.46 0 0 0 44.48 0L176 322.72l100.07 100.07a31.46 31.46 0 0 0 44.48 0l22.24-22.24a31.46 31.46 0 0 0 0-44.48L242.72 256z"/>
              </svg>
            </button>
          </div>
        </div>
        <!-- menu / right sidebar-->
        <div v-show='trayOpen' class='bg-gray-800 px-3 pt-2 pb-4 sm:w-full sm:max-w-sm sm:float-right sm:clearfix sm:rounded-bl-lg sm:px-6'>
          <!-- pagination shows up in the sidebar on mobile -->
          <pagination class="sm:hidden"
          v-bind:current-page='currentPage' 
          v-bind:number-of-pages='numberOfPages'
          v-on:page-change='switchPage'></pagination>
          <!-- limit -->
          <div class='mt-3 flex items-center text-gray-400 font-semibold'>
            <svg class="w-5 h-5 fill-current" aria-hidden="true" data-prefix="fas" data-icon="pager" class="svg-inline--fa fa-pager fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="currentColor" d="M448 64H64a64 64 0 0 0-64 64v256a64 64 0 0 0 64 64h384a64 64 0 0 0 64-64V128a64 64 0 0 0-64-64zM160 368H80a16 16 0 0 1-16-16v-16a16 16 0 0 1 16-16h80zm128-16a16 16 0 0 1-16 16h-80v-48h80a16 16 0 0 1 16 16zm160-128a32 32 0 0 1-32 32H96a32 32 0 0 1-32-32v-64a32 32 0 0 1 32-32h320a32 32 0 0 1 32 32z"/>
            </svg>
            <span class="ml-3">Show</span>
            <div class="relative flex items-center">
              <select class="appearance-none bg-gray-400 rounded-lg font-semibold ml-1 pr-5 text-gray-800" v-model.number="limit">
                <option v-for="option in limit_options" v-bind:value="option.value">
                  {{option.text}}
                </option>
              </select>
              <svg class="w-4 h-4 pointer-events-none fill-current text-gray-800 absolute right-0 mr-1" aria-hidden="true" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M207.03 381.48L12.69 187.13a24 24 0 0 1 0-33.94l22.66-22.67a24 24 0 0 1 33.9-.04L224 284.51l154.75-154.03a24 24 0 0 1 33.9.04l22.66 22.67a24 24 0 0 1 0 33.94L240.97 381.48a24 24 0 0 1-33.94 0z"/>
              </svg>
            </div>
            <span class="ml-1"> levels per page </span>
          </div>
          <!-- sort by -->
          <div class='mt-4 flex items-center text-gray-400 font-semibold'>
            <svg class="w-5 h-5 fill-current" aria-hidden="true" data-prefix="fas" data-icon="sort-size-up" class="svg-inline--fa fa-sort-size-up fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path v-if="sort_direction == 'ascending'"  fill="currentColor" d="M107.31 36.69a16 16 0 0 0-22.62 0l-80 96C-5.35 142.74 1.77 160 16 160h48v304a16 16 0 0 0 16 16h32a16 16 0 0 0 16-16V160h48c14.21 0 21.38-17.24 11.31-27.31zM484 32H284a28 28 0 0 0-28 28v168a28 28 0 0 0 28 28h200a28 28 0 0 0 28-28V60a28 28 0 0 0-28-28zm-56 288H276a20 20 0 0 0-20 20v120a20 20 0 0 0 20 20h152a20 20 0 0 0 20-20V340a20 20 0 0 0-20-20z"/>
              <path v-if="sort_direction == 'descending'" fill="currentColor" d="M428 320H276a20 20 0 0 0-20 20v120a20 20 0 0 0 20 20h152a20 20 0 0 0 20-20V340a20 20 0 0 0-20-20zm-252 32h-48V48a16 16 0 0 0-16-16H80a16 16 0 0 0-16 16v304H16c-14.19 0-21.37 17.24-11.29 27.31l80 96a16 16 0 0 0 22.62 0l80-96C197.35 369.26 190.22 352 176 352zM484 32H284a28 28 0 0 0-28 28v168a28 28 0 0 0 28 28h200a28 28 0 0 0 28-28V60a28 28 0 0 0-28-28z"/>
            </svg>

            <span class='ml-3'>Sort by </span>
            <div class="relative flex items-center">
              <select class='appearance-none bg-gray-400 rounded-lg font-semibold ml-1 pr-5 text-gray-800' v-model="sort_by">
                <option value="score" :hidden="sortState !== 'relevance'">relevance</option>
                <option value="sampler" :hidden="sortState !== 'sampler'">in order</option>
                <option value="last_updated">publish date</option>
                <option value="song">title</option>
                <option value="difficulty">difficulty</option>
                <option value="author">creator</option>
              </select>
              <svg class="w-4 h-4 pointer-events-none fill-current text-gray-800 absolute right-0 mr-1" aria-hidden="true" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M207.03 381.48L12.69 187.13a24 24 0 0 1 0-33.94l22.66-22.67a24 24 0 0 1 33.9-.04L224 284.51l154.75-154.03a24 24 0 0 1 33.9.04l22.66 22.67a24 24 0 0 1 0 33.94L240.97 381.48a24 24 0 0 1-33.94 0z"/>
              </svg>
            </div>
            <span class='ml-1'>,
              <a v-on:click='switchDirection' class='text-purple-300 font-bold hover:text-white hover:cursor-pointer'>
                {{order_texts[sort_by][sort_direction]}}
              </a>
            </span>
          </div>
          <!-- display type -->
          <div class='mt-3 flex items-center text-gray-400 font-semibold'>
            <svg class="w-5 h-5 fill-current" aria-hidden="true" data-prefix="fas" data-icon="grip-horizontal" class="svg-inline--fa fa-grip-horizontal fa-w-14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path v-if="display_type == 'cards'" fill="currentColor" d="M96 288H32a32 32 0 0 0-32 32v64a32 32 0 0 0 32 32h64a32 32 0 0 0 32-32v-64a32 32 0 0 0-32-32zm160 0h-64a32 32 0 0 0-32 32v64a32 32 0 0 0 32 32h64a32 32 0 0 0 32-32v-64a32 32 0 0 0-32-32zm160 0h-64a32 32 0 0 0-32 32v64a32 32 0 0 0 32 32h64a32 32 0 0 0 32-32v-64a32 32 0 0 0-32-32zM96 96H32a32 32 0 0 0-32 32v64a32 32 0 0 0 32 32h64a32 32 0 0 0 32-32v-64a32 32 0 0 0-32-32zm160 0h-64a32 32 0 0 0-32 32v64a32 32 0 0 0 32 32h64a32 32 0 0 0 32-32v-64a32 32 0 0 0-32-32zm160 0h-64a32 32 0 0 0-32 32v64a32 32 0 0 0 32 32h64a32 32 0 0 0 32-32v-64a32 32 0 0 0-32-32z"/>
              <path v-if="display_type == 'list'" fill="currentColor" d="M464 480H48a48 48 0 0 1-48-48V80a48 48 0 0 1 48-48h416a48 48 0 0 1 48 48v352a48 48 0 0 1-48 48zM128 120a40 40 0 1 0 0 80 40 40 0 0 0 0-80zm0 96a40 40 0 1 0 0 80 40 40 0 0 0 0-80zm0 96a40 40 0 1 0 0 80 40 40 0 0 0 0-80zm288-136v-32a12 12 0 0 0-12-12H204a12 12 0 0 0-12 12v32a12 12 0 0 0 12 12h200a12 12 0 0 0 12-12zm0 96v-32a12 12 0 0 0-12-12H204a12 12 0 0 0-12 12v32a12 12 0 0 0 12 12h200a12 12 0 0 0 12-12zm0 96v-32a12 12 0 0 0-12-12H204a12 12 0 0 0-12 12v32a12 12 0 0 0 12 12h200a12 12 0 0 0 12-12z"/>
            </svg>
            <span class="ml-3">Display as <a v-on:click='switchType' class='hover:cursor-pointer font-bold text-purple-300 hover:text-white'>{{display_type}}</a></span>
          </div>
          <!-- show/hide special links -->
          <div class='mt-3 flex items-center text-gray-400 font-semibold'>
            <svg class="w-5 h-5 fill-current" aria-hidden="true" data-prefix="fas" data-icon="grip-horizontal" class="svg-inline--fa fa-grip-horizontal fa-w-14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path fill="currentColor" d="M544 96H416V32c0-17.7-14.3-32-32-32H192c-17.7 0-32 14.3-32 32v64H32c-17.7 0-32 14.3-32 32v368c0 8.8 7.2 16 16 16h544c8.8 0 16-7.2 16-16V128c0-17.7-14.3-32-32-32zM160 436c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm160 128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm16-170c0 3.3-2.7 6-6 6h-26v26c0 3.3-2.7 6-6 6h-20c-3.3 0-6-2.7-6-6v-26h-26c-3.3 0-6-2.7-6-6v-20c0-3.3 2.7-6 6-6h26V86c0-3.3 2.7-6 6-6h20c3.3 0 6 2.7 6 6v26h26c3.3 0 6 2.7 6 6v20zm144 298c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40z"/>            </svg>
            <span class="ml-3"><a v-on:click='showAutoImportLinks = !showAutoImportLinks' class='hover:cursor-pointer font-bold text-purple-300 hover:text-white'>{{showAutoImportLinks ? 'Show' : 'Don\'t show'}}</a> the autoimport links</span>
          </div>
        </div>
      </header>

      <div class="flex flex-row">

        <!-- sidebar -->
        <div v-show="boostersOpen" class="fixed min-h-screen max-h-screen overflow-auto pt-16 px-4 pb-4 flex-shrink-0 bg-gray-800 text-gray-400 w-72 hidden md:block">
          <div class="mb-4 text-sm text-justify">
            <p>Not sure which levels to play? Grab a booster pack! Each booster pack is a carefully curated list of levels.</p>
            <p class="mt-2">Booster packs marked with <span>
              <svg class="mx-1 inline w-4 h-4 fill-current text-gray-500" aria-hidden="true" data-prefix="fas" data-icon="badge-check" class="svg-inline--fa fa-badge-check fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M505 400l-79 73c-15 15-42 4-42-17v-40h-31c-3 0-6-2-9-4l-90-97 38-41 80 86h12v-48c0-22 27-32 42-17l79 71c9 9 9 25 0 34zM12 152h92l80 86 38-41-90-97c-2-3-6-4-9-4H12c-7 0-12 5-12 12v32c0 7 5 12 12 12zm493-42l-79-71c-15-15-42-4-42 17v40h-31c-3 0-6 1-9 4L104 360H12c-7 0-12 5-12 12v32c0 7 5 12 12 12h111c3 0 7-1 9-4l240-260h12v48c0 21 27 32 42 17l79-73c9-9 9-25 0-34z"/></svg>
            </span> are dynamic. These are randomly generated by our algorithms when you click.</p>
          </div>
          <!-- loading -->
          <p v-show="boosters.length === 0">Loading...</p>
          <!-- <p v-show="boosters.length !== 0">{{boosters}}</p> -->
          <div
          v-for="pack in boosters"
          v-on:click="fireSamplerQuery(pack.file)"
          class="inline-block min-w-full bg-gray-500 text-gray-900 
            rounded mb-4 p-4 shadow-md hover:shadow-xl hover:cursor-pointer hover:bg-gray-400
            transition-bg">
            <div class="flex flex-row items-center">
              <svg v-show="pack.dynamic" class="inline w-4 h-4 mr-2 text-gray-700" aria-hidden="true" data-prefix="fas" data-icon="badge-check" class="svg-inline--fa fa-badge-check fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M505 400l-79 73c-15 15-42 4-42-17v-40h-31c-3 0-6-2-9-4l-90-97 38-41 80 86h12v-48c0-22 27-32 42-17l79 71c9 9 9 25 0 34zM12 152h92l80 86 38-41-90-97c-2-3-6-4-9-4H12c-7 0-12 5-12 12v32c0 7 5 12 12 12zm493-42l-79-71c-15-15-42-4-42 17v40h-31c-3 0-6 1-9 4L104 360H12c-7 0-12 5-12 12v32c0 7 5 12 12 12h111c3 0 7-1 9-4l240-260h12v48c0 21 27 32 42 17l79-73c9-9 9-25 0-34z"/></svg>
              <h1 class="font-semibold">{{pack.title}}</h1>
            </div>
            <h2 class="text-gray-800 text-sm">{{pack.description}}</h2>
          </div>
        </div>

        <!-- spacer -->
        <!-- this is an invisible div that's the same size as the fixed sidebar to reflow the cards
        when the sidebar's out-->
        <div v-show="boostersOpen" class="min-h-screen pt-16 px-4 flex-shrink-0 bg-gray-800 text-gray-400 w-72 hidden md:block">

        </div>

        <!-- MAIN AREA -->
        <div>


          <div class="pt-20 px-8 inline-block">
            <ul v-show="currentPage == 0" class="flex flex-row gap gap-x-8 text-sm text-black mx-2 px-4 py-2 rounded bg-indigo-200 opacity-50 w-auto">
              <li>Are you a streamer? Try the <a class="underline hover:no-underline hover:text-indigo-900" href="https://docs.google.com/spreadsheets/d/1acZltH8MKs81Nu-BOsaupeWfjJVDiDVoVzbIKepPdYQ/edit#gid=0">RD Streamer Setlist</a>!</li>
              <li><a class="underline hover:no-underline hover:text-indigo-900" href="https://rhythm-doctor.gitbook.io/level-editor/">Level Editor tutorial</a> by Klyzx et al</li>
              <li>Visit <a class="underline hover:no-underline hover:text-indigo-900" href="https://discord.gg/rhythmdr">the Discord server</a> to add a level</li>
            </ul>
          </div>



          <!-- CARDS DISPLAY -->
          <div v-show="display_type == 'cards'" id="levels-cards" 
          class="flex-grow pt-4 w-full justify-center mx-auto flex flex-row flex-wrap items-stretch px-8">
            <!-- each card starts here -->
                  <!-- ticker -->

            <article 
            v-for="(level,index) in truncated"
            class="flex-1 flex flex-col
                min-w-72 max-w-sm m-2
                bg-gray-200 
                rounded-lg shadow-md hover:shadow-xl transition-shadow
                   
                group">

              <!-- image -->
              <div class="relative pb-9/16 bg-gray-700 rounded-t-lg overflow-hidden">
                
                <img class="group-hover:defocus transition-filter absolute h-full w-full object-cover" :src="level.preview_img">
                
                <!-- overlay -->
                <div 
                class="opacity-0 group-hover:opacity-100 transition-opacity
                    absolute flex h-full w-full p-4 rounted-t-lg">
                  <!-- description -->
                  <div class="flex-initial w-full text-white text-sm overflow-y-auto break-words"
                  v-html="convertToHtml(level.description)">
                  </div>
                  <!-- download + copy link + autoimport buttons -->
                  <div class="flex-none w-8 ml-2 flex flex-col">
                    <a :data-clipboard-text="level.download_url" class="copy-link text-white border border-white rounded-lg hover:bg-purple-500 hover:cursor-pointer">
                      <svg class="h-full w-full p-2 fill-current" aria-hidden="true" data-prefix="fas" data-icon="copy" class="svg-inline--fa fa-copy fa-w-14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="currentColor" d="M320 448v40a24 24 0 0 1-24 24H24a24 24 0 0 1-24-24V120a24 24 0 0 1 24-24h72v296c0 30.88 25.12 56 56 56h168zm0-344V0H152a24 24 0 0 0-24 24v368a24 24 0 0 0 24 24h272a24 24 0 0 0 24-24V128H344c-13.2 0-24-10.8-24-24zm120.97-31.03L375.03 7.03A24 24 0 0 0 358.06 0H352v96h96v-6.06a24 24 0 0 0-7.03-16.97z"/>
                      </svg>
                    </a>
                    <a :href="level.download_url" class="mt-4 text-white border border-white rounded-lg hover:bg-purple-500">
                      <svg class="h-full w-full p-2 fill-current" aria-hidden="true" data-prefix="fas" data-icon="download" class="svg-inline--fa fa-download fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor" d="M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24zm296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49a51.24 51.24 0 0 0 72.6 0l49-49H488c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"/>
                      </svg>
                    </a>
                    <a v-show="showAutoImportLinks" :href="getAutoimportLink(level.download_url)" class="mt-4 text-white border border-white rounded-lg hover:bg-purple-500">
                      <svg class="h-full w-full p-2 fill-current" aria-hidden="true" data-prefix="fas" data-icon="download" class="svg-inline--fa fa-download fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor" d="M201.5 174.8l55.7 55.8c3.1 3.1 3.1 8.2 0 11.3l-11.3 11.3a8.03 8.03 0 0 1-11.3 0l-55.7-55.8-45.3 45.3 55.8 55.8c3.1 3.1 3.1 8.2 0 11.3l-11.3 11.3a8.03 8.03 0 0 1-11.3 0L111 265.2l-26.4 26.4a79.9 79.9 0 0 0-23 65.4l7.1 63.6L2.3 487a8.03 8.03 0 0 0 0 11.3l11.3 11.3c3.1 3.1 8.2 3.1 11.3 0l66.3-66.3 63.6 7.1c23.9 2.6 47.9-5.4 65.4-23l181.9-181.9-135.7-135.7-64.9 65zm308.2-93.3L430.5 2.3a8.03 8.03 0 0 0-11.3 0l-11.3 11.3a8.03 8.03 0 0 0 0 11.3l28.3 28.3-45.3 45.3-56.6-56.6-17-17a8.03 8.03 0 0 0-11.3 0l-33.9 33.9a8.03 8.03 0 0 0 0 11.3l17 17L424.8 223l17 17c3.1 3.1 8.2 3.1 11.3 0l33.9-34c3.1-3.1 3.1-8.2 0-11.3l-73.5-73.5 45.3-45.3 28.3 28.3c3.1 3.1 8.2 3.1 11.3 0l11.3-11.3c3.1-3.2 3.1-8.2 0-11.4z"/>
                      </svg>
                    </a>
                  </div>
                </div>
                
              </div>

              <!-- div for everything below the image -->
              <div class="p-4 h-full flex flex-col justify-between">
                <!-- aligned up -->
                <div>
                  <!-- artist + song -->
                  <h2 class="text-gray-700 text-xs leading-cramped break-words">{{level.artist}}</h2>
                  <h1 :class="level.verified ? 'font-semibold' : 'font-light'" class="font-semibold text-lg leading-tight break-words">{{level.song}}</h1>
                  
                  <!-- icons + metadata -->
                  <div class="flex flex-wrap gap gap-x-3 mt-1">
                    <div class="flex items-center text-gray-700 text-xs max-w-full">
                      <svg class="h-3 w-3 fill-current" aria-hidden="true" data-prefix="fas" data-icon="pencil-alt" class="svg-inline--fa fa-pencil-alt fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor" d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1a47.92 47.92 0 0 1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"/>
                      </svg>
                      <ul>
                        <li class="inline-block" v-for="(author, i) in level.author">
                        <a
                        class="inline-block ml-1 break-all hover:underline hover:text-gray-900 hover:cursor-pointer"
                        v-on:click="addToSearch(author)"
                        >{{author}}
                        </a>{{getSeperator(i, level.author.length)}}
                        </li>
                      </ul>
                    </div>
                    <div class="flex items-center text-gray-700 text-xs">
                      <svg class="h-3 w-4 fill-current" aria-hidden="true" data-prefix="fas" data-icon="syringe" class="svg-inline--fa fa-syringe fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor" d="M555.3 300.1L424.2 112.8a114.36 114.36 0 00-159.3-28.1 113.91 113.91 0 00-41.5 53.8C220.5 79.2 172 32 112 32 50.1 32 0 82.1 0 144v224c0 61.9 50.1 112 112 112s112-50.1 112-112V218.9c3.3 8.6 7.3 17.1 12.8 25L368 431.2c22.2 31.8 57.7 48.8 93.8 48.8 22.7 0 45.5-6.7 65.5-20.7 51.7-36.2 64.2-107.5 28-159.2zM160 256H64V144a48.01 48.01 0 0196 0v112zm194.8 44.9l-65.6-93.7c-7.7-11-10.7-24.4-8.3-37.6 2.3-13.2 9.7-24.8 20.7-32.5 8.5-6 18.5-9.1 28.8-9.1 16.5 0 31.9 8 41.3 21.5l65.6 93.7-82.5 57.7z"/>
                      </svg>
                      <a 
                      class="ml-1 hover:underline hover:text-gray-900 hover:cursor-pointer"
                      v-on:click="addDifficultyToSearch(level.difficulty)"
                      >
                      {{getDifficultyText(level.difficulty)}}
                      </a>
                    </div>
                    <div class="flex items-center text-gray-700 text-xs">
                      <svg class="h-3 w-3 fill-current" aria-hidden="true" data-prefix="fas" data-icon="heartbeat" class="svg-inline--fa fa-heartbeat fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M320.2 243.8l-49.7 99.4c-6 12.1-23.4 11.7-28.9-.6l-56.9-126.3-30 71.7H60.6l182.5 186.5c7.1 7.3 18.6 7.3 25.7 0L451.4 288H342.3l-22.1-44.2zM473.7 73.9l-2.4-2.5c-51.5-52.6-135.8-52.6-187.4 0L256 100l-27.9-28.5a130.83 130.83 0 0 0-187.4 0l-2.4 2.4C-10.4 123.7-12.5 203 31 256h102.4l35.9-86.2c5.4-12.9 23.6-13.2 29.4-.4l58.2 129.3 49-97.9c5.9-11.8 22.7-11.8 28.6 0l27.6 55.2H481c43.5-53 41.4-132.3-7.3-182.1z"/>
                      </svg>
                      <p class="ml-1">{{getBPMText(level.min_bpm, level.max_bpm)}} BPM
                      </p>
                    </div>
                    <div v-show="level.verified" class="flex items-center text-green-600 text-xs">
                      <svg class="h-3 w-3 fill-current" aria-hidden="true" data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <title>Peer-Reviewed: a trusted member of the community has checked for correct BPM/offset, metadata, and cues to ensure playability.</title>
                        <path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/>
                      </svg>
                    </div>
                    <div v-show="level.verified === false" class="flex items-center text-red-600 text-xs">
                      <svg class="h-3 w-3 fill-current" aria-hidden="true" data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <title>Non-Referred: a trusted member of the community has checked for correct BPM/offset, metadata, and cues to ensure playability, and has found that this level does not meet standards.</title>
                        <path fill="red" d="M494 416l-171-169 169-171-76-76-169 171-171-169-75 75 171 170-169 171 75 75 170-171 171 169z"/>
                      </svg>
                    </div>
                  </div>
                </div>
                

                
                <div class="flex flex-wrap items-end mt-2 relative h-auto gap gap-2">
                  <!-- epilepsy warning / starred / verified -->
                  <div v-show="level.seizure_warning" class="flex items-center bg-orange-200 rounded-full px-3 text-xs font-semibold">
                    <svg class="h-3 w-3 fill-current text-orange-400" aria-hidden="true" data-prefix="fas" data-icon="exclamation-triangle" class="svg-inline--fa fa-exclamation-triangle fa-w-18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                      <path fill="currentColor" d="M569.52 440.01c18.46 32-4.71 71.99-41.58 71.99H48.05c-36.93 0-60-40.05-41.57-71.99L246.42 24c18.47-32.01 64.72-31.96 83.16 0L569.52 440zM288 354a46 46 0 1 0 0 92 46 46 0 0 0 0-92zm-43.67-165.35l7.41 136A12 12 0 0 0 263.74 336h48.54a12 12 0 0 0 11.98-11.35l7.42-136A12 12 0 0 0 319.7 176h-63.38a12 12 0 0 0-11.98 12.65z"/>
                    </svg>
                    <span class="inline-block ml-1 text-orange-500">
                      Seizure warning
                    </span>
                  </div>
                  <div v-show="level.starred" class="flex items-baseline bg-teal-200 rounded-full px-3 text-xs font-semibold">
                      <svg class="h-3 w-3 fill-current text-teal-500" aria-hidden="true" data-prefix="fas" data-icon="check-square" class="svg-inline--fa fa-check-square fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/>
                      </svg>
                      <span class="inline-block ml-1 text-teal-500">
                        Starred
                      </span>
                    </div>
                  <!-- tags -->
                  <span 
                  v-for="tag in level.tags" 
                  class="inline-block max-w-full truncate 
                  bg-gray-300 rounded-full px-3 text-xs font-semibold text-gray-600
                  hover:bg-gray-400 hover:text-gray-700 hover:cursor-pointer
                  "
                  v-on:click="addTagToSearch(tag)"
                  >
                  {{tag}}
                  </span>
                </div>
                
              </div>
            </article> <!-- end card display -->
          </div>
          <!-- TABLE DISPLAY -->
          <div v-show="display_type == 'list'" id="levels-list"
          class='flex justify-center pt-4'
          >
            <table cellspacing="0" class="table-fixed text-sm mx-6 border-separate">
              <thead>
                <tr class="text-base font-semibold">
                  <th class="text-left px-2 w-24">
                    <p>Image</p>
                  </th>
                  <th class="text-left px-2 w-56">
                    <p>Song</p>
                  </th>
                  <th class="text-left px-2 w-32">
                    <p>Creator</p>
                  </th>
                  <th class="text-left px-2 w-20">
                    <p>Difficulty</p>
                  </th>
                  <th class="text-left px-2 w-32">
                    <p>Publish date</p>
                  </th>
                  <th class="text-left px-2 w-24">
                    <p>Modes</p>
                  </th>
                  <th class="text-left px-2 w-20">
                      <p>BPM</p>
                  </th>
                  <th class="text-left px-2 w-96">
                      <p>Description</p>
                  </th>
                  <th class="text-left px-2 w-64">
                    <p>Tags</p>
                  </th>
                  <th class="text-left px-2 w-12">
                  </th> 
                </tr>
              </thead>
              <tr 
              v-for="(level,index) in truncated"
              class="overflow-hidden"
              >
                <td v-bind:class="{ 'rounded-tl-lg' : index === 0, 'bg-gray-200' : index % 2, 'bg-gray-300' : !(index % 2)}"> <!-- IMAGE -->
                  <div class="relative pb-9/16 w-32 bg-gray-700 rounded overflow-hidden">
                    <img class="absolute object-contain" :src="level.preview_img"/>
                  </div>
                </td>
                <td :class="index % 2 ? 'bg-gray-200' : 'bg-gray-300'" class='px-2'> <!-- SONG TITLE + ARTIST -->
                  <div>
                    <h1 class="font-semibold">{{level.song}}</h1>
                    <h2>{{level.artist}}</h2>
                  </div>
                </td>
                <td :class="index % 2 ? 'bg-gray-200' : 'bg-gray-300'" class='px-2'> <!-- CREATOR -->
                  <ul>
                      <li class="inline-block" v-for="(author, i) in level.author">
                      <a
                      class="inline-block ml-1 break-all hover:underline hover:text-gray-900 hover:cursor-pointer"
                      v-on:click="addToSearch(author)"
                      >{{author}}
                      </a>{{getSeperator(i, level.author.length)}}
                      </li>
                    </ul>
                </td>
                <td :class="index % 2 ? 'bg-gray-200' : 'bg-gray-300'" class='px-2'> <!-- DIFFICULTY -->
                  <p>{{getDifficultyText(level.difficulty)}}</p>
                </td>
                <td :class="index % 2 ? 'bg-gray-200' : 'bg-gray-300'" class='px-2'> <!-- PUBLISH DATE -->
                  <p>{{niceDateFormatted(level.last_updated)}}</p>
                </td>
                <td :class="index % 2 ? 'bg-gray-200' : 'bg-gray-300'" class='px-2'> <!-- PLAYERS -->
                  <p>{{playerFormatted(level.single_player, level.two_player)}}</p>
                </td>
                <td :class="index % 2 ? 'bg-gray-200' : 'bg-gray-300'" class='px-2'> <!-- BPM -->
                  <p>{{getBPMText(level.min_bpm, level.max_bpm)}}</p>
                </td>
                <td :class="index % 2 ? 'bg-gray-200' : 'bg-gray-300'" class='break-words break-all hyphens px-2' v-html="listViewDescription(level)"> <!-- DESCRIPTION -->
                  
                </td>
                <td :class="index % 2 ? 'bg-gray-200' : 'bg-gray-300'" class="h-24 px-2">  <!-- TAGS -->
                  <div class="h-full my-2 overflow-y-auto">
                      <!-- tags -->
                      <span 
                      v-for="tag in level.tags" 
                      class="inline-flex items-center truncate max-w-xs justify-start text-gray-700 rounded-full px-3 text-xs font-semibold bg-gray-400 
                      hover:bg-gray-500 hover:text-gray-800 hover:cursor-pointer"                
            
                      v-on:click="addTagToSearch(tag)"
                      >
                      {{tag}}
                      </span>
                    </div>
                </td>
                <td v-bind:class="{ 'rounded-tr-lg' : index === 0, 'bg-gray-200' : index % 2, 'bg-gray-300' : !(index % 2)}"> <!-- DOWNLOAD + COPY LINK BUTTONS-->
                  <div class="flex flex-col items-center justify-around">
                      <a :data-clipboard-text="level.download_url" class="h-8 w-8 copy-link text-gray-600 border border-gray-600 rounded-lg hover:bg-purple-300 hover:cursor-pointer">
                        <svg class="h-full w-full p-2 fill-current" aria-hidden="true" data-prefix="fas" data-icon="copy" class="svg-inline--fa fa-copy fa-w-14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                          <path fill="currentColor" d="M320 448v40a24 24 0 0 1-24 24H24a24 24 0 0 1-24-24V120a24 24 0 0 1 24-24h72v296c0 30.88 25.12 56 56 56h168zm0-344V0H152a24 24 0 0 0-24 24v368a24 24 0 0 0 24 24h272a24 24 0 0 0 24-24V128H344c-13.2 0-24-10.8-24-24zm120.97-31.03L375.03 7.03A24 24 0 0 0 358.06 0H352v96h96v-6.06a24 24 0 0 0-7.03-16.97z"/>
                        </svg>
                      </a>
                      <a :href="level.download_url" class="h-8 w-8 mt-2 text-gray-600 border border-gray-600 rounded-lg hover:bg-purple-300">
                        <svg class="h-full w-full p-2 fill-current" aria-hidden="true" data-prefix="fas" data-icon="download" class="svg-inline--fa fa-download fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                          <path fill="currentColor" d="M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24zm296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49a51.24 51.24 0 0 0 72.6 0l49-49H488c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"/>
                        </svg>
                      </a>
                  </div>
                </td>
              </tr>
            </table>
          </div> <!-- ends table layout div -->
        </div> <!-- ends card/table div -->
      </div> <!-- ends flexbox container div-->
    </div> <!-- end loaded state div -->

    <!-- This div appears in an error. -->
    <div v-if="state=='ERROR'" id="error_state">
      <p>Error when loading the Rhythm Doctor API!</p>
      <p>if you have any privacy related extensions for your browser, try disabling them, this site uses a google sheet as the backend.</p>
      <p>If that fails, ping or message auburnsummer#1863 on discord!</p>
      <p>{{error}}</p>
    </div>
  </div> <!-- end app div -->

  <script src="bundle.js"></script>
</body>

</html>
